@import "styles/colors.scss";

.container {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.header {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.button {
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
  font-size: 1.6rem;
}

.inputWrapper {
  border: 2px solid #eaedf1;
}

.disclaimer {
  font-size: 1.1rem;
  margin-top: 2rem;
  max-width: 30rem;
  text-align: center;
}

.emailInput {
  text-transform: uppercase;
  background-color: $offwhite;
  width: 30rem;
  border: 0px;
  padding: 16px 12px;
  box-shadow: none;
  outline: none;
  font-size: 1.3rem;
  text-align: center;
}
