@import "styles/breakpoints.scss";
@import "styles/colors.scss";

.wrapper {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  background-color: $offwhite;
  font-size: 1.6rem;
}

.image {
  width: auto;
  height: 180px;
}

.productText {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem 0;
}

.product {
  cursor: pointer;
}

.masonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -40px; /* gutter size offset */
  width: auto;

  &__column {
    padding-left: 40px; /* gutter size */
    background-clip: padding-box;
  }
}

@include tablet {
  .products {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

  .image {
    height: 140px;
    width: auto;
  }
}

@include desktop {
  .products {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem 2rem;
  }
  .image {
    height: 220px;
    width: auto;
  }
}
