@import "styles/breakpoints.scss";
@import "styles/colors.scss";

.product {
  padding: 12rem 4rem;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  flex-direction: column;
}

.summary {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
}

.buttons {
  margin-top: 2rem;
  display: flex;
}

.image {
  width: auto;
  height: 18rem;
}

@include tablet {
  .product {
    padding: 12rem 8rem;
    flex-direction: row;
  }
}
@include desktop {
  .image {
    height: 300px;
  }
}
