@import "styles/colors.scss";
@import "styles/breakpoints.scss";

.nav {
  position: relative;
  height: 10rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 100;
  box-shadow: 0 8px 12px 0 rgb(40 133 246 / 8%);
}

.navItems {
  display: flex;
  align-items: center;
}

.navContainer {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  display: none;
  margin-right: 3rem;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $black;

    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.hamburgerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 3rem;
}

.hamburgerNav {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 14rem;
}

.hamburgerIcons {
  display: flex;

  .icon {
    margin: 0 1rem;
  }
}

.center {
  width: 40px;
  position: absolute;
  z-index: 100;
}

.center:before,
.center:after,
.center div {
  background: $black;
  content: "";
  display: block;
  height: 4px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}

.logo {
  // padding-right: 3rem;
  height: 8.5rem;
  width: 8.5rem;
}

.socialIcons {
  display: flex;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  transition: all 0.2s;
  &:hover {
    opacity: 0.5;
    transition: all 0.2s;
  }
}

.bodyScroll {
  overflow-y: hidden;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgb(43, 43, 43);
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.menuClosed {
  display: none;
}

.hamburgerOpen {
  &.center:before,
  &.center:after,
  &.center div {
    background: $white;
  }
  &.center:before {
    transform: translateY(11px) rotate(135deg);
  }
  &.center:after {
    transform: translateY(-11px) rotate(-135deg);
  }
  &.center div {
    transform: scale(0);
  }
}

.left {
  display: flex;
  .socialIcons {
    display: none;
  }
}

@include desktop {
  .hamburgerWrapper {
    display: none;
  }
  .left {
    .socialIcons {
      display: flex;
    }
  }
  .navItem {
    display: initial;
  }
  .middle .logo {
    margin-right: 3rem;
  }
  .icon {
    margin: 0 1rem;
  }
}
