@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Recursive, sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pin-icon {
  width: 50px;
  height: 50px;
  transform-origin: -50px -50px;
}

.selector-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.selector {
  margin-right: 13px;
  background: cornsilk;
}

.selector:hover {
  background: darkgray;
}

.list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-item {
  outline: solid;
  width: 500px;
  height: 100px;
  margin-bottom: 25px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.list-item:hover {
  background: ghostwhite;
}

a {
  cursor: pointer;
}
